// Author: Mohamed Kassam
// Date: 2026-07-19
nextflow.enable.dsl=2
params {
  input = null
  samplesheet = null
  outdir = 'results'
  config = 'conf/analysis.yaml'
  run_cellranger = false
  cellranger_path = 'cellranger'
  transcriptome = null
  guide_reference = null
}
process {
  executor = 'local'
  errorStrategy = 'terminate'
  withName:FASTQC { cpus=2; memory='4 GB'; time='2h' }
  withName:CELLRANGER_COUNT { cpus=16; memory='64 GB'; time='24h' }
  withName:PERTURBSEQ_ANALYSIS { cpus=8; memory='48 GB'; time='12h' }
}
profiles {
  conda { conda.enabled=true; process.conda='environment.yml' }
  docker { docker.enabled=true; process.container='ghcr.io/OWNER/perturbseq-pipeline:latest' }
  singularity { singularity.enabled=true; process.container='docker://ghcr.io/OWNER/perturbseq-pipeline:latest' }
  test { params.samplesheet='example/samplesheet.csv'; params.config='conf/analysis.yaml'; params.outdir='results_test' }
}
report { enabled=true; file="${params.outdir}/execution_report.html" }
timeline { enabled=true; file="${params.outdir}/execution_timeline.html" }
trace { enabled=true; file="${params.outdir}/execution_trace.txt" }
dag { enabled=true; file="${params.outdir}/pipeline_dag.html" }
